{% extends 'driver/base.html' %}
{% load static %}
{% block title %}Ro'yxatdan o'tish - Yo'lovchi uchun{% endblock %}

{% block content %}
    <!-- Login Wrapper Area-->
    <div class="login-wrapper d-flex align-items-center justify-content-center">
        <!-- Shape-->
        <div class="login-shape">
            <img src="{% static 'img/core-img/login.png' %}" alt="">
        </div>
        <div class="login-shape2">
            <img src="{% static 'img/core-img/login2.png' %}" alt="">
        </div>

        <div class="container">
            <!-- Login Text-->
            <div class="login-text text-center">
                <img class="login-img" src="{% static 'img/bg-img/12.png' %}" alt="">
                <h3 class="mb-0">Yo'lovchi sifatida Ro'yxatdan o'tish</h3>
                <!-- Shapes-->
                <div class="bg-shapes">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="shape8"></div>
                </div>
            </div>

            <!-- Register Form-->
            <div class="register-form mt-5 px-3">
                {% block success_message %}{% include 'components/success_message.html' %}{% endblock %}
                <form method="post">{% csrf_token %}
                    <div class="form-group text-left mb-4">
                        <label>
                            <i class="lni lni-user"></i>
                        </label>
                        <input class="form-control" type="text" name="first_name"
                               placeholder="Ism">
                    </div>
                    <div class="form-group text-left mb-4">
                        <label>
                            <i class="lni lni-user"></i>
                        </label>
                        <input class="form-control" type="text" name="last_name"
                               placeholder="Familiya">
                    </div>
                    <div class="form-group text-left mb-4">
                        <label>
                            <i class="lni lni-user"></i>
                        </label>
                        <input class="form-control" type="text" name="username"
                               placeholder="Foydalanuvchi nomi">
                    </div>
                    <div class="form-group text-left mb-4">
                        <label>
                            <i class="lni lni-phone"></i>
                        </label>
                        <input class="form-control" type="text" name="phone"
                               placeholder="Telefon raqam">
                    </div>
                    <div class="form-group text-left mb-4">
                        <label>
                            <i class="lni lni-lock"></i>
                        </label>
                        <input class="form-control" type="password" name="password1"
                               placeholder="Yangi parol">
                    </div>
                    <div class="form-group text-left mb-4">
                        <label>
                            <i class="lni lni-lock"></i>
                        </label>
                        <input class="form-control" type="password" name="password2"
                               placeholder="Parolni takrorlang">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100">Ro'yxatdan o'tish</button>
                </form>
            </div>

            <!-- Login Meta-->
            <div class="login-meta-data text-center">
                <br>
                <p class="mb-0">Profilingiz bormi? U holda<a class="ml-2" href="{% url 'customer-login' %}">Kirish</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}